
Assigment.aux
Assigment.bcf
Assigment.fdb_latexmk
Assigment.fls
Assigment.log
Assigment.run.xml
Assigment.synctex.gz
Assigment.bbl
Assigment.blg
/ReferenserPDF
/ReferenserPDF
ReferenserPDF/A Comprehensive Model of Data Center. From CPU to Cooling Tower.pdf
ReferenserPDF/A review of thermal management and innovative cooling strategies for data center.pdf
Assigment.bcf-SAVE-ERROR
Assigment.bbl-SAVE-ERROR
Assigment.synctex(busy)
Assigment.bbl-SAVE-ERROR
Mamma comment.pdf
Memmie kontroll 3.pdf
Memmie kontroll2.pdf
Memmie_kontroll.pdf
Notiser/Quiz tenta.docx
